extends layout

block content
  if user
    a.btn-new-msg.btn.d-flex.justify-content-center.align-items-center(href="/club/message/create")
      span.material-icons add

  section#messages.messages.container-fluid.mt-4.d-flex.flex-column.justify-content-center.align-items-center
    h1 #{title} 
    div.messages-container.container.d-flex.flex-column.justify-content-center.align-items-center
      if messages.length === 0
        h2 No messages yet...
      each message in messages
        div.message-card.card.mb-4.p-3
          div.card-body
            div.message-wrapper
              h4.card-title #{message.title}
              p.card-text #{message.text}
            if user && user.membership === "Exclusive"
              hr.my-2
              div.d-flex.flex-row
                i.message-author post by: #{message.author.username}
                i.message-time.ms-1 - #{message.timestamp_formatted}   
              
            if user && user.admin
              div.d-flex.justify-content-end
                a.btn-delete.btn(href=message.url+"/delete") Delete


  

