doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container-fluid
      div.main-header.row
        div.col-12.col-md-4.col-lg-6.p-0.d-flex.justify-content-center
          a.header-logo(href="/")
            div PATCH#[span.logo-club CLUB]
        div.col-12.col-md-8.col-lg-6.p-0.d-flex.justify-content-center
          if !user
            form.login.row.align-items-center.h-100.pb-2.pb-md-0(action="/club/log-in" method="POST")
              div.col-auto.col-sm-4.d-flex
                label.form-label.visually-hidden(for="username") Username
                input#login_username.form-control.form-control-sm(type="text" name="username" placeholder="username")
              div.col-auto.col-sm-4.d-flex
                label.form-label.visually-hidden(for="password") Password
                input#login_password.form-control.form-control-sm(type="password" name="password" placeholder="password")
              div.col-auto.col-sm-2.d-flex
                button.btn-login.btn(type="submit") Login
              div.col-auto.col-sm-2.d-flex
                a.btn-signup.btn(href="/club/sign-up") Sign up
          else
              div.d-flex.flex-column.justify-content-center
                div.d-flex.align-items-center
                    h4.m-0 User: #{ user.name }
                    
                div.d-flex.align-items-center
<<<<<<< HEAD
                    if user.membership === "Exclusive"
                      span.m-0 Membership: #[span.text-exclusive #{ user.membership }] 
                    else
                      span.m-0 Membership: #[span.text-basic #{ user.membership }] 
                    
=======
                    span.m-0 Status: #{ user.membership }
>>>>>>> 4db401925b08006f2ee6e57dad47e72e799abe0b
                    if user.membership === "Basic"
                      span.ms-4
                        a.btn-join(href="/club/join") Join Exclusive
                    span.ms-4
                      a(href="/club/log-out") Log out  
              
              
        

    block content
